@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {height: 100%}

body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #333;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1em;
    line-height: 135%;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}
a {
    color: #d39494;
    text-decoration: none;
    -webkit-transition: all.6s ease;
    transition: all.6s ease;
}

a:hover {
    color:#efdea0;
    -webkit-transition: all.6s ease;
    transition: all.6s ease;
}

.clear {
    clear: both;
}

/* Стилі для Header */

header {
    width: 98%;
    float: left;
    padding: 1%;
    background-color: #fafafa;
    border-bottom: 2px solid silver;
    margin-bottom: 20px;
}

header #logo{
    width: 30%;
    float: left;
}
header #logo a {
    color: #939393;
    font-size: 2em;
    font-family: Times New Roman, sans-serif;
}
header #logo span{
    color: #e36565
}

header #menuHead{
    width: 34%;
    float: left;
}
header #menuHead div {
    float: left;
    padding: 5px;
    background-color: #c8c8c8;
    border-radius: 5px;
    color: white;
}
header #menuHead div:hover {
    background-color: #e7e7e7;
}
header #regAuth{
    width: 30%;
    float: left;
    text-align: right;
    font-size: 1.2em;
}
/* Стилі для Всього документа */

#wrapper {
    width: 80%;
    margin-left: 10%;
    float: left;
}
/* Стилі для лівої колонки */

#wrapper #leftCol {
    width: 70%;
    margin-right: 10%;
    float: left;
}

#wrapper #leftCol #bigArticle {
    width: 78%;
    margin-left: 10%;
    background-color: #f6f6f6;
    padding: 1%;
    float: left;
}
#wrapper #leftCol #bigArticle img, #wrapper #leftCol .article img {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

#wrapper #leftCol #bigArticle h2, #wrapper #leftCol .article h2 {
    font-weight: normal;
    font-size: 1.4em;
    color: #636363;
    font-family: Comic Sans MS, sans-serif;
}

#wrapper #leftCol #bigArticle p, #wrapper #leftCol .article p {
    width: 90%;
    margin-left: 5%;
}

#wrapper #leftCol #bigArticle div, #wrapper #leftCol .article div {
    padding: 5px;
    border-radius: 5px;
    background-color: #878787;
    color: #fff;
    width: 60px;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 6em

}

#wrapper #leftCol #bigArticle div:hover, #wrapper #leftCol .article div:hover {
    background-color: #a2a2a2;
}

#wrapper #leftCol .article {
    width: 40%;
    margin-left: 5%;
    background-color: #f6f6f6;
    padding: 1%;
    float: left;
}

/* Стилі для правої колонки */
#wrapper #rightCol {
    width: 20%;
    float: left;
}

#wrapper #rightCol .banner {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}


/* Стилі для Footer */
footer{
    width: 98%;
    padding: 1%;
    float: left;
    background-color: #fafafa;
    border-top: 2px solid silver ;
    margin-top: 10px;
}

footer #social {
    float: left;
    width: 50%;
}

footer #social img {
    width: 50px;
    height: 40px;
    float: left;
    margin-right: 2px;
}

footer #rights {
    float: right;
    width: 50%;
    font-size: 1.1em;
    text-align: right;
}
footer #author {
    color: red;
}